version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: "main"
    schedule:
      interval: "daily"
  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: daily
    target-branch: "1.4.x"
    milestone: 69
    ignore:
      # Block all OpenTelemetry instrumentation updates
      - dependency-name: "io.opentelemetry.instrumentation:*"
        update-types:
          - version-update:semver-major
          - version-update:semver-minor
          - version-update:semver-patch
      # only upgrade patch versions
      - dependency-name: "*"
        update-types:
          - version-update:semver-major
          - version-update:semver-minor
    open-pull-requests-limit: 30
  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: daily
    target-branch: "1.5.x"
    milestone: 96
    ignore:
      # Block all OpenTelemetry instrumentation updates
      - dependency-name: "io.opentelemetry.instrumentation:*"
        update-types:
          - version-update:semver-major
          - version-update:semver-minor
          - version-update:semver-patch
      # only upgrade patch versions
      - dependency-name: "*"
        update-types:
          - version-update:semver-major
          - version-update:semver-minor
    open-pull-requests-limit: 30
  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: daily
    target-branch: "1.6.x"
    milestone: 105
    ignore:
      # Block all OpenTelemetry instrumentation updates
      - dependency-name: "io.opentelemetry.instrumentation:*"
        update-types:
          - version-update:semver-major
          - version-update:semver-minor
          - version-update:semver-patch
      # only upgrade patch versions
      - dependency-name: "*"
        update-types:
          - version-update:semver-major
          - version-update:semver-minor
    open-pull-requests-limit: 30
  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: daily
    target-branch: "main"
    milestone: 126
    ignore:
      # upgrade minor and patch versions on main
      - dependency-name: "*"
        update-types:
          - version-update:semver-major
    open-pull-requests-limit: 50
