version: 2.1

executors:
  jdk25-executor:
   working_directory: ~/micrometer-tracing
   environment:
     GRADLE_OPTS: '-Dorg.gradle.jvmargs="-Xmx1g -XX:+HeapDumpOnOutOfMemoryError"'
   docker:
     - image: cimg/openjdk:25.0
  jdk24-executor:
    working_directory: ~/micrometer-tracing
    environment:
      GRADLE_OPTS: '-Dorg.gradle.jvmargs="-Xmx1g -XX:+HeapDumpOnOutOfMemoryError"'
    docker:
      - image: cimg/openjdk:24.0.2
  jdk21-executor:
    working_directory: ~/micrometer-tracing
    environment:
      GRADLE_OPTS: '-Dorg.gradle.jvmargs="-Xmx1g -XX:+HeapDumpOnOutOfMemoryError"'
    docker:
      - image: cimg/openjdk:21.0.9
  jdk17-executor:
    working_directory: ~/micrometer-tracing
    environment:
      GRADLE_OPTS: '-Dorg.gradle.jvmargs="-Xmx1g -XX:+HeapDumpOnOutOfMemoryError"'
    docker:
      - image: cimg/openjdk:17.0.17
  machine-executor:
    working_directory: ~/micrometer-tracing
    machine:
      image: ubuntu-2404:2025.09.1

commands:
  gradlew-build:
    description: 'Run a Gradle build using the wrapper'
    parameters:
      command:
        type: string
        default: 'build'
      toolchainVersion:
        type: string
        default: ''
    steps:
      - checkout
      - restore_cache:
          key: gradle-dependencies-{{ .Branch }}-{{ checksum "build.gradle" }}-{{ checksum ".circleci/config.yml" }}
      - run:
          name: downloadDependencies
          command: ./gradlew downloadDependencies --console=plain
      - save_cache:
          key: gradle-dependencies-{{ .Branch }}-{{ checksum "build.gradle" }}-{{ checksum ".circleci/config.yml" }}
          paths:
            - ~/.gradle
      - run:
          name: run gradle command
          command: ./gradlew << parameters.command >> -PtoolchainVersion=<< parameters.toolchainVersion >>
      - run:
          name: collect test reports
          when: always
          command: |
            mkdir -p ~/micrometer-tracing/test-results/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/micrometer-tracing/test-results/junit/ \;
      - store_test_results:
          path: ~/micrometer-tracing/test-results/
      - store_artifacts:
          path: ~/micrometer-tracing/test-results/

jobs:
  build-jdk25:
    executor: jdk25-executor
    steps:
      - gradlew-build:
          toolchainVersion: '25'

  build-jdk24:
    executor: jdk24-executor
    steps:
      - gradlew-build:
          toolchainVersion: '24'

  build-jdk21:
    executor: jdk21-executor
    steps:
      - gradlew-build:
          toolchainVersion: '21'

  build-jdk17:
    executor: jdk17-executor
    steps:
      - gradlew-build:
          toolchainVersion: '17'

  build-jdk11:
    executor: jdk21-executor
    steps:
      - gradlew-build:
          toolchainVersion: '11'

  docker-tests:
    executor: machine-executor
    steps:
      - gradlew-build:
          command: dockerTest

  deploy:
    executor: jdk21-executor
    steps:
      - checkout
      - restore_cache:
          key: gradle-dependencies-{{ .Branch }}-{{ checksum "build.gradle" }}-{{ checksum ".circleci/config.yml" }}
      - run:
          name: Deployment
          command: sh ./gradle/deploy.sh

workflows:
  version: 2
  build_prs_deploy_snapshots:
    jobs:
      - build-jdk11
      - build-jdk17
      - build-jdk21
      - build-jdk24
      - build-jdk25
      - docker-tests
      - deploy:
          context:
            - deploy
          requires:
            - build-jdk11
            - build-jdk17
            - build-jdk21
            - build-jdk24
            - build-jdk25
            - docker-tests
          filters:
            branches:
              only:
                - main
                - /\d+\.\d+\.x/
  build_deploy_releases:
    jobs:
      - build-jdk11:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+(-(RC|M)\d+)?$/
      - build-jdk17:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+(-(RC|M)\d+)?$/
      - build-jdk21:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+(-(RC|M)\d+)?$/
      - build-jdk24:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+(-(RC|M)\d+)?$/
      - build-jdk25:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+(-(RC|M)\d+)?$/
      - docker-tests:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+(-(RC|M)\d+)?$/
      - deploy:
          context:
            - deploy
          requires:
            - build-jdk11
            - build-jdk17
            - build-jdk21
            - build-jdk24
            - build-jdk25
            - docker-tests
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+(-(RC|M)\d+)?$/
